.DS_Store
node_modules
/dist
# Other (TAURI)
/src-tauri/WixTools
/src-tauri/target
/src-tauri/bin/notify-x86_64-pc-windows-msvc.exe

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
